# Dependencies
node_modules/

# Environment variables
.env

# Playwright Reports
playwright-report/
test-results/

# Screenshots
screenshots/

# Videos
videos/

# Traces
traces/

# Logs
logs/

# VS Code
.vscode/

# Playwright
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Authentication storage
auth/*.json

